@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.container{
	position: absolute;
  	left: auto;
  	top: auto;
}

a{
	color: #283593;
	text-decoration: none;
}
h3{
	margin-top: 12px;
}

body{
  background-image: url("Main-Images/Voc&ecirc;\ teria\ assistido\ o\ programa\ caso\ se\ chamasse\ Insomnia\ Caf&eacute;_.jpeg");
	background-repeat: no-repeat;
	background-image: -webkit-gradient(30%);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: cover;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(78, 73, 73);
	align-items: center;
	vertical-align: flex;
}

main{
	border-radius: 5px;
	background-color: rgba(239, 83, 80, 0.014);
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: calc((100% - 580px) / 2);
	width: 550px;
}
section#status{
	margin-bottom: 25px;
	border-radius: 5px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	background-color: rgba(55, 71, 79, 0.404);
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
	  left: auto
}
	
	 

section#display{
	margin-bottom: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 5px;
	bottom: 10%;
	text-align: center;
	background-color: rgba(55, 71, 79, 0.404);
	color: #FFFFFF;
	font-size: 25px;
	font-family: 'Roboto Mono', monospace;
	  left: auto
}
section#slots{
	background-image: url("Main-Images/Screen\ Shot\ 2020-03-03\ at\ 5.53.31\ PM.jpg");
	background-position: 0%, 20%;
	background-size: 100%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row; /* default */
	justify-content: flex-start; /* default */
	height: 50px;
	border-radius: 15px;
	background-color: rgba(55, 71, 79, 0.404);;
	height: 100vh;
	
}

section#PlayButton{
	margin-top: 25px;
	padding-top: 38px;
	padding-bottom: 38px;
	border-radius: 80px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	background-color: rgb(188, 71, 71);
	color: #FFFFFF;
	font-size: 40px;
	position: absolute;
	bottom: 55%;
	Left: 40%;
}

section#Gira:hover{
	background-color: #BA68C8;
}
section#options{
	margin-top: 20px;
	padding-top: 5px;
	border-radius: 5px;
	background-color: rgba(198, 40, 40, 0.062);
	color: #FFFFFF;
}

}
section#info{
	background-color: #61616157;
	padding-left: 12px;
	padding-bottom: 12px;
	border-radius: 5px;
	overflow: hidden;
	animation-duration: 1s;
	color: #BDBDBD;
	margin-top: 50px;
	margin-left: 30%;
	margin-right: 30%;
	display: none;
}
#slot1, #slot2, #slot3{
	justify-content: center;
	display: inline-block;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 15px;
	background-size: cover;
	width: 120px;
	height: 150px;
	background-repeat: no-repeat;
}
.a1{
	background-image: url("Main-Images/characters/Chandler.jpeg");
}
.a2{
	background-image: url("Main-Images/characters/Joey.jpeg");
}
.a3{
	background-image: url("Main-Images/characters/Monica.jpeg");
}
.a4{
	background-image: url("Main-Images/characters/Phoebe.jpeg");
}
.a5{
	background-image: url("Main-Images/characters/Rachel\ Green.jpeg");
}
.a6{
	background-image: url("Main-Images/characters/Ross.jpeg");
