body{
    background-image: url("Intro-Image/Quadro\ meu\ xuxu.jpeg");
      background-repeat: no-repeat;
      background-size: 40%;
      width: 20%;
  }

  embed{
      background-image: url("Intro-Image/Quadro\ meu\ xuxu.jpeg");
  }